<meta name="viewport" content="width=device-width,initial-scale=1"/>
<main class="component">
  <div class="main-div">
    <div class="sub-div welcome-text webpage-only">About Us</div>
    <div class="sub-div welcome-text phone-only">WELCOME!</div>
    <div class="sub-div welcome-description1">{{descriptionText}}</div>
  </div>
  <div class="main-div">
    <div class="sub-div">
      Already have a bike registered?
    </div>
    <div class="sub-div">
      <button (click)="signInClicked()">SIGN IN</button>
    </div>
    <div class="sub-div">
      or
    </div>
    <div class="sub-div">
      <button (click)="registerClicked()">REGISTER YOUR BIKE</button>
    </div>
  </div>
  <div class="main-div phone-only">
    <button class="learn-more" (click)="learnMoreClicked()">LEARN MORE</button>
    <div *ngIf="(learnMore$ | async)" class="sub-div welcome-description2">{{descriptionText}}</div>
  </div>
</main>

