div.sub-div.welcome-description1 {
  display: none;
  text-transform: none;
}

div.sub-div.welcome-description2 {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12pt;
  font-weight: normal;
  line-height: 16pt;
  background-color: #8C52FF;
  text-transform: none;
  border-radius: 20px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

div.sub-div.welcome-text {
  margin: auto;
  font-size: 30pt;
  letter-spacing: 2px;
  font-weight: normal;
  color: #8C52FF;
}

.learn-more {
  background-color: black;
  margin-top: 30px;
  margin-left: 20px;
}

@media (min-width: 600px) {
  div.sub-div.welcome-description1 {
    display: block;
    margin: auto;
    font-size: 16pt;
    font-weight: normal;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 20pt;
  }

  div.sub-div.welcome-text {
    color: white;
    background-color: #8C52FF;
    border-radius: 100px;
    margin-right: 100px;
    margin-left: 100px;
  }

  div.sub-div.welcome-description2 {
    display: none;
  }
}
