<meta name="viewport" content="width=device-width,initial-scale=1"/>
<main class="component">
  <div class="main-div">
    <div class="sub-div id">#{{ rackId$ | async }}</div>
    <div class="sub-div">ENTER PASSWORD TO</div>
    <div class="sub-div">
      <span class="purple-text">{{(this.lockStatus$ | async) === UNLOCKED ? 'LOCK' : 'UNLOCK'}}</span>
    </div>
    <div class="sub-div">YOUR BIKE</div>
  </div>
  <div class="main-div" >
    <div class="sub-div">
      <input type="password" [(ngModel)]="passwordInput">
    </div>
    <div class="sub-div">
      <div class="error-message" *ngIf="passwordIncorrect$ | async">Password is incorrect</div>
    </div>
    <div class="sub-div">
      <button [disabled]="!passwordInput"
              (click)="processInitiated()">
        {{(this.lockStatus$ | async) === UNLOCKED ? 'LOCK' : 'UNLOCK'}}</button>
    </div>
  </div>
</main>
