<meta name="viewport" content="width=device-width,initial-scale=1"/>
<main *ngIf="!(isLoading$ | async)" class="component">
  <div class="main-div">
    <div class="sub-div id">
      <div>{{(loggedInUser$ | async)?.first_name}}</div>
      <div>{{apartmentName$ | async}}</div>
    </div>
    <div class="sub-div">
      YOUR BIKE IS
    </div>
    <div class="sub-div ">
      <span class="purple-text ">{{ (process$ | async)?.is_completed ? 'UNLOCKED' : 'LOCKED' }}
      </span>
    </div>
    <div *ngIf="(process$ | async)?.is_completed" class="sub-div ">
      RACKS OPEN: {{ numberRacksOpen$ | async }}
    </div>
  </div>
  <div class="main-div">
    <div  class="sub-div">
      <div *ngIf="(process$ | async)?.is_completed">
        <button (click)="onLockClicked()" [disabled]="(numberRacksOpen$ | async) === 0">
          <img ngSrc="./assets/images/unlock.png" alt="unlockImage" height="230.4" width="172.8">
        </button>
        </div>
        <div *ngIf="!(process$ | async)?.is_completed" class="sub-div">
          <div>
            <button (click)="onLockClicked()">
              <img ngSrc="./assets/images/lock.png" alt="lockImage" height="230.4" width="172.8">
            </button>
          </div>
      </div>
      <div class="instruction">CLICK TO CHANGE LOCK STATUS</div>
    </div>
  </div>
</main>
