<meta name="viewport" content="width=device-width,initial-scale=1"/>
<main class="component">
  <div class="main-div">
    <div class="sub-div id">#0092</div>
    <div class="sub-div hello">HELLO MAYA</div>
    <div class="sub-div">
      YOUR BIKE IS
    </div>
    <div class="sub-div ">
      <span class="purple-text">{{ this.lockStatus$ | async }}
      </span>
    </div>
  </div>
  <div class="main-div">
    <div  class="sub-div">
      <div *ngIf="(this.lockStatus$ | async) === UNLOCKED">
        <button (click)="onLockClicked()">
          <img ngSrc="./assets/images/unlock.png" alt="unlockImage" height="230.4" width="172.8" priority>
        </button>
        </div>
        <div *ngIf="(this.lockStatus$ | async) === LOCKED" class="sub-div">
          <div>
            <button (click)="onLockClicked()">
              <img ngSrc="./assets/images/lock.png" alt="lockImage" height="230.4" width="172.8" priority>
            </button>
          </div>
      </div>
      <div class="instruction">CLICK TO CHANGE LOCK STATUS</div>
    </div>
  </div>
</main>
