<form [formGroup]="processForm" (ngSubmit)="processInitiated()">
  <div *ngIf="mostRecentProcess.is_completed">
    <label  for="rack_id_lock">Rack Number</label>
    <select id="rack_id_lock" formControlName="rack_id">
      <option [value]="null" disabled selected>Select a rack</option>
      <option *ngFor="let rack of (openRacks$ | async)" [value]="rack.id">
        {{ rack.id }}
      </option>
    </select>
  </div>
  <div *ngIf="!mostRecentProcess.is_completed">
    <label>Rack Number: {{mostRecentProcess.rack_id}}</label>
  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
  </div>
  <div class="error-message" *ngIf="passwordIncorrect$ | async">Password is incorrect</div>
  <div>
  <button [disabled]="!processForm.valid" type="submit">{{ mostRecentProcess.is_completed ? 'LOCK' : 'UNLOCK' }}</button>
  </div>
</form>
