div {
  padding: 10px;
  text-align: right;
}

label {
  font-weight: normal;
  width: fit-content;
}

input, select {
  border-radius: 10px;
  border: 2px black solid;
  padding: 8px;
  font-size: 12pt;
  margin-left: 50px;
}

select {
  min-width: 200px;
}

div.reenter {
  padding: 0;
}

div.flex {
  display: flex;
}

@media (min-width: 600px) {
  div.reenter {
    line-height: 40px;
  }
}
