<meta name="viewport" content="width=device-width,initial-scale=1"/>
<main class="component">
  <div class="main-div">
    <div class="sub-div welcome-text">Welcome!</div>
    <div class="sub-div welcome-description1">{{descriptionText}}</div>
  </div>
  <div class="main-div">
    <div class="sub-div">
      Already have a bike registered?
    </div>
    <div class="sub-div">
      <button>SIGN IN</button>
    </div>
    <div class="sub-div">
      OR
    </div>
    <div class="sub-div">
      <button>REGISTER YOUR BIKE</button>
    </div>
  </div>
  <div class="main-div phone-only">
    <div class="sub-div welcome-description2">{{descriptionText}}</div>
  </div>
</main>

