div.sub-div.welcome-description1 {
  display: none;
}

div.sub-div.welcome-description2 {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12pt;
  font-weight: lighter;
  line-height: 14pt;
  font-family: serif;
}

div.sub-div.welcome-text {
  margin: auto;
  font-size: 30pt;
}

@media (min-width: 600px) {
  div.sub-div.welcome-description1 {
    display: block;
    margin: auto;
    font-size: 16pt;
    font-family: serif;
    font-weight: normal;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 20pt;
  }

  div.sub-div.welcome-description2 {
    display: none;
  }
}
