@font-face {
  font-family: Sanchez;
  src: url(assets/sanchez/Sanchezregular.otf);
}

@font-face {
  font-family: Libre Franklin;
  src: url(assets/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf)
}

* {
  font-family: Libre Franklin, serif;
}

main.app {
  background-image: url("assets/images/wheel.png");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: -250px -100px;
  padding-bottom: 100px;
}

header.app {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 55pt;
  font-family: Sanchez, serif;
  color: #6642DB;
  text-shadow: 2px 2px 0 rgba(250, 148, 87, 0.6), 4px 4px 0 rgba(245, 192, 160, 0.8);
}

main.component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.main-div {
  flex-basis: 100%;
  margin-bottom: 0.5rem;
}

div.sub-div {
  padding: 10px 0 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #8C52FF;
  color: white;
  letter-spacing: 3px;
  border: none;
}

button.back-button {
  background-color: black;
}

button:hover {
  background-color: #c1acec;
}

button.back-button:hover {
  background-color: #b3b3b4;
}

.webpage-only {
  display: none;
}

.purple-text {
  font-size: 25pt;
  color: #6642DB;
}

.error-message {
  font-size: 12pt;
  font-weight: normal;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  main.app {
    background-size: 1000px;
    background-position: 650px -250px;
    padding-bottom: 500px;
  }

  header.app {
    font-size: 75pt;
  }

  main.component {
    flex-wrap: nowrap;
  }

  div.main-div {
    flex-basis: 50%;
  }

  .phone-only {
    display: none;
  }

  .webpage-only {
    display: inherit;
  }
}
