div {
  padding: 10px;
  text-align: right;
}

label {
  padding-right: 10px;
  font-weight: normal;
}

input, select {
  border-radius: 10px;
  border: 2px black solid;
  padding: 8px;
  font-size: 12pt;
}

button:disabled  {
  background-color: gray;
}
